html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.backgroundimage {
    background-image: url('../lib/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.divTabelaProjetos {
    margin-top: auto;
    margin-bottom: auto;
    margin: 10px;
    width: 50%;
    text-align: center;
    color: azure;
    text-shadow: -4px -1px 4px #000000;
}

.divBemVindo {
    margin-top: 11%;
    margin-bottom: 2%;
    color: gray;
    text-align: center;
}

.divLetraMenuNavBar {
    color: white;
    text-shadow: 0px 0px 3px #000000;
    font-size: clamp(0.75em, 0.75em + 1vw, 1.2em)
}

    .divLetraMenuNavBar:hover {
        color: #d7d7d7;
        font-size: clamp(0.75em, 0.75em + 1vw, 1.2em)
    }



.divLetraDoInicio {
    margin-top: 20%;
    color: Black;
    font-family: 'Clarendon BT';
    font-size: clamp(0.75em, 1em + 4vw, 5em)
}
.divLetraDoInicioNome {
    margin-top: 3%;
    color: Black;
    font-size: clamp(0.50em, 1em + 4vw, 0.50em);
    font-family: Arial;
}

.divViewData {
    color: gray;
    margin-top: 10%;
}

.divSobre {
    margin: auto;
    margin-top: auto;
    background: none;
    width: 70%;
    text-align: justify;
    float: right;
    color: gray;
    font-size: clamp(0.50em, 0.50em + 2vw, 1.5em);
    font-family: Verdana;
}

.divformularioemail {
    margin: auto;
    margin-top: auto;
    background: none;
    color: white;
    text-shadow: -1px 2px 1px #000000;
    float: none;
}

.form-control {
    background: none;
    background-color: none;
    color: gray;
    max-height: 200px;
    max-width: 600px;
}

    .form-control::placeholder {
        color: gray;
        background: none;
        background-color: none;
    }

    .form-control:placeholder-shown {
        color: gray;
        background: none;
        background-color: none;
    }

    .form-control:not(:placeholder-shown) {
        color: gray;
        background: none;
        background-color: none;
    }
    .form-control:hover{
        color: gray;        
    }

.DeixeSuaMensagemContato {
    margin: auto;
    margin-top: 2%;
    float: right;
    color: gray;
    text-align: left;
    font-family: Impact;
    font-size: clamp(0.30em, 1em + 2.3vw, 3em);
}

.FotoSobre {
    margin: auto;
    margin-top: auto;
    background: none;
    width: 30%;
    float: left;
}
