<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Leandro Ricardo de Sousa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MeuPortfolio.styles.css" asp-append-version="true" />
</head>

<body class="backgroundimage">
    <header>
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container d-lg-flex justify-content-center">
                <strong><a class="nav-link active" style="color:white" asp-controller="Home"
                        asp-action="Perfil">Início</a></strong>
                <strong><a class="nav-link active" style="color:white" aria-current="page" asp-controller="Home"
                        asp-action="Projetos">Projetos</a></strong>
                <strong><a class="nav-link active" style="color:white" aria-current="page" asp-controller="Home"
                        asp-action="Sobre">Sobre</a></strong>
                <strong><a class="nav-link active" style="color:white" aria-current="page" asp-controller="Home"
                        asp-action="Contato">Contato</a></strong>
                <a class="nav-link active" aria-current="page" href="https://www.linkedin.com/in/leandroricardodesousa/"
                    target="_blank" rel="noopener noreferrer"><img src="~/lib/img/logolinkedin.png" alt="Logo Linkedin"
                        height="22" width="24"></a>
                <a class="nav-link active" aria-current="page" href="https://github.com/leandroricardodev"
                    target="_blank" rel="noopener noreferrer"><img src="~/lib/img/logogithubamarelo.png"
                        alt="Logo Github" height="25" width="25"></a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer text-muted text-end">
        <div class="container none box-shadow text-white">
            &copy; 2023 - Portifólio Versão 1.0
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
