@{
    ViewData["Title"] = "Contato";    ;
}
<h1>@ViewData["Title"]</h1>

<br>
<br>
<br>
<br>
<h3>Contato:</h3>
<br>


<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Seu E-mail:</label>
    <input type="email" class="form-control" data-ls-module="charCounter" maxlength="50" id="Email" style="max-width:400px" placeholder="seuemail@email.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Sua mensagem:</label>
    <textarea class="form-control" data-ls-module="charCounter" maxlength="1000" id="MensagemDeContato" style="max-width:600px;max-height:200px" rows="8" placeholder="Sua mensagem..."></textarea>
</div>





