@{
    ViewData["Title"] = "Contato"; ;
}
<h1 class="divviewdata">@ViewData["Title"]:</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <form action="https://formsubmit.co/864b1e997234ea98a489de6a1482c2ab" method="POST">
                <div class="divformularioemail">
                    <label for="email">E-mail:</label>
                    <input type="email" name="email" class="form-control" data-ls-module="charCounter" maxlength="50" style="max-width:400px" placeholder="seuemail@email.com" required>
                    <label for="message">Mensagem:</label>
                    <textarea type="text" id="message" name="message" class="form-control" data-ls-module="charCounter" maxlength="1000" rows="8" placeholder="Digite aqui sua mensagem..." required></textarea>
                    <button type="submit" class="btn btn-primary btn-sm">Enviar</button>
                    <button type="reset" class="btn btn-secondary btn-sm">Apagar</button>
                </div>
            </form>
            <div class="divformularioredes">
            </div>
        </div>
        <div class="col text-end navbar-text">
            <p class="DeixeSuaMensagemContato">
                Deixe sua mensagem e<br />
                entrarei em contato o mais<br />
                breve possível.<br />
                Obrigado!<br />
            </p>
        </div>
    </div>
</div>


