@{
    ViewData["Title"] = "Bem vindo";
}
<div>
   @* <img src="~/lib/img/fotoperfil.png" width="25%" align="right">*@
</div>

<div class="divLetraDoInicio">
    <p>
       Bem vindo(a) ao <br>meu portfólio!
    </p>
    <div>
        <h5 class="divLetraDoInicioNome">
            <strong><b>Leandro Ricardo</b></strong>
        </h5>
    </div>
</div>


@* Seja muito bem-vindo ao meu portfólio! Meu nome é Leandro Ricardo e sou estudante de<br>
        Análise e Desenvolvimento de Sistemas. Tenho conhecimentos nas tecnologias C# .Net,<br>
        MySQL, HTML5 e CSS3, e este meu portfólio foi desenvolvido com Asp.Net MVC,<br>
        Bootstrap e HTML + CSS. Aqui você poderá visualizar alguns dos meus trabalhos e ver<br>
        minhas habilidades e conhecimentos. Sinta-se à vontade para navegar pelo meu portfólio<br>
        e fique à vontade para entrar em contato caso tenha alguma dúvida.<br><br>
        Muito obrigado pela sua visita!*@