@{
    ViewData["Title"] = "Bem vindo";
}
<div class="divwelcome">
    <h1>Bem vindo!</h1>
    <center>
        <img src="~/lib/img/fotoperfil.png" width="150px">
    </center>

    <br />
    <p class="divletra2">
        Prazer, meu nome é Leandro Ricardo.<br>
        Sou estudante de <u>Análise e Desenvolvimento de Sistemas</u> pela Faculdade Capital Federal (FECAF),<br>
        possuo alguns cursos extras até o momento como: <u>C# .Net, MySQL, HTML5 e CSS3.</u><br>
        Este meu portfólio foi desenvolvido utilizando <u>.Net MVC com boostrap e HTML + CSS</u>.<br>
        Fique a vontade para navegar por ele e visualizar alguns de meus projetos,<br>
        caso tenha qualquer dúvida ou queira entrar em contato, meu telefone encontra-se no rodapé<br>
        ou poderá acessar o campo de envio de email e enviar sua mensagem.<br>
        Muito obrigado pela sua visita, é uma honra ter você aqui!
    </p>
</div>


