@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="display-7">Welcome</h1>
    <p></p>
</div>


<div class="divtabela1" >    
    <a href"" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Projetos"><img src="~/lib/img/L.png" width="100%"/></a>
</div>
<div class="divtabela2">
    <a href"" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Projetos"><img src="~/lib/img/L.png" width="100%" /></a>
</div>
<div class="divtabela3">
    <a href"" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Projetos"><img src="~/lib/img/L.png" width="100%" /></a>
</div>



