@{
    ViewData["Title"] = "Projetos";
}
<h1 class="divviewdata">@ViewData["Title"]:</h1>


<div class="divtabela1">
    <div class="container">
        <div class="row row-cols-2">
            <!--Coluna1-->
            <div class="col">
                <h5>Título programa</h5>
                <hr />
                <a href"" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Projetos"><img src="~/lib/img/L.png" width="100%" /></a>
                <hr />
                <h5>Descrição programa</h5>
            </div>
            <!--Coluna2-->
            <div class="col">
                <h5>Título programa</h5>
                <hr />
                <a href"" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Projetos"><img src="~/lib/img/L.png" width="100%" /></a>
                <hr />
                <h5>Descrição programa</h5>
            </div>
            <!--Coluna1-->
            <div class="col">
                <h5>Título programa</h5>
                <hr />
                <a href"" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Projetos"><img src="~/lib/img/L.png" width="100%" /></a>
                <hr />
                <h5>Descrição programa</h5>
            </div>

            <!--Coluna1-->
            <div class="col">
                <h5>Título programa</h5>
                <hr />
                <a href"" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Projetos"><img src="~/lib/img/L.png" width="100%" /></a>
                <hr />
                <h5>Descrição programa</h5>
            </div>
        </div>
    </div>
</div>

