@{
    ViewData["Title"] = "Projetos";
}
<h1 class="divviewdata">@ViewData["Title"]:</h1>


<p class="text-white">Em criação...</p>

<center>
    <div class="container divTabelaProjetos">

        <div class="row row-cols-2">
            <!--Coluna1-->

            <div class="col">

                @*                <hr>
                <h5>Título programa</h5>
                <a href"" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Projetos"><img src="~/lib/img/L.png" width="100%" /></a>
                <h5>Descrição programa</h5>
                <hr>*@
            </div>
            <!--Coluna2-->
            <div class="col">
                @*                <hr>
                <h5>Título programa</h5>
                <a href"" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Projetos"><img src="~/lib/img/L.png" width="100%" /></a>
                <h5>Descrição programa</h5>
                <hr>*@
            </div>
            <!--Coluna3-->
            <div class="col">
                @*                <hr>
                <h5>Título programa</h5>
                <a href"" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Projetos"><img src="~/lib/img/L.png" width="100%" /></a>
                <h5>Descrição programa</h5>
                <hr>*@
            </div>
            <!--Coluna4-->
            <div class="col">
                @*                <hr>
                <h5>Título programa</h5>
                <a href"" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Projetos"><img src="~/lib/img/L.png" width="100%" /></a>
                <h5>Descrição programa</h5>
                <hr>*@
            </div>
        </div>
    </div>
</center>

