@{
    ViewData["Title"] = "Sobre";
   
}
<h1 class="divviewdata">@ViewData["Title"]:</h1>

<div class="FotoSobre">
<img src="~/lib/img/fotoperfil.png" width="80%">
</div>

<div class="divsobre">    
<p>
    Olá!!
    Me chamo Leandro e sou um profissional experiente em busca de novos desafios e oportunidades.
    Recentemente, tomei a decisão de fazer uma transição em minha carreira e estou em busca de oportunidades
    na área de Desenvolvimento Web ou de Software inicialmente como Desenvolvedor BackEnd e futuramente como
    Desenvolvedor FullStack. Com 9 anos de experiência como subgerente, adquiri habilidades valiosas como gestão
    de pessoas, rotinas de atendimento ao cliente e sempre focar na solução do problema, que posso aplicar em minha
    nova jornada. Estou animado para por em prática meus novos conhecimentos e habilidades que venho aprendendo na 
    faculdade de Análise e Desenvolvimento de Sistemas e em cursos extra curriculares como na linguagem C# .Net
    Programação Orientada a Objetos, no banco de dados MySQL e no HTML5 + CSS3 e assim contribuir para o sucesso da empresa onde estiver.
</p>
</div>

